# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/rollup
/src
/static
/.babelrc
/.gitignore
/.deploy.sh
/index.hyml
/package.json
/tsconfig.json
package-lock.json
# dependencies
